<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Hello</title>

        <meta charset="UTF-8">
        <meta name="author" content="christopher hanke">
        <meta name="description" content="new web application as portfolio and information site">
        <meta name="keywords" content="portfolio, informationen, kontakt, christopher, hanke">

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>Welcome back to HTML ;)</h1>
        <img src="static/img/logo.png" alt="logo"><br>
        <a href="/about">About</a><br>
        <a href="/portfolio">Portfolio</a>
    </body>
</html>