<!DOCTYPE html>
<html lang="de">
    <header>
        <title>Portfolio</title>

        <meta charset="UTF-8">
        <meta name="author" content="christopher hanke">
        <meta name="description" content="new web application as portfolio and information site">
        <meta name="keywords" content="portfolio, informationen, kontakt, christopher, hanke">
    </header>

    <body>
        <h1>Hier ist mein Portfolio</h1>
        <h3>noch leer</h3>
        <a href="/about">About</a><br>
        <a href="/">Index</a>
    </body>
</html>